<header>
    <nav>
        <div>
            <ul>
                <li>A</li>
                <li>B</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </nav>
</header>