* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 500px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    gap
}