* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}