* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 500px;
    padding: 5px;
    background-color: blue;
    color: ;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    gap: 50px;
}