* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: s;
    justify-content: space-between;
}